/* Diferentes navegadores utilizan diferentes márgenes por defecto */
body{
    margin:0; /* Igualo los márgenes por defecto de cualquier navegador*/
    height: 100%;
}

/* Contenedor principal. Tendrá Flexbox */
.container {
    display: flex; /* flex es igual a inline-flex. Los elementos dentro de un flex son flex-items */
    border: 10px solid red;
    box-sizing: border-box; /* Unifica en un único valor de cada div los siguientes: margin, padding y border*/ 
    flex-wrap:wrap;
    align-items:first baseline;
    width: 100vw; /* El contenedor ocupa el 100% del ancho de la ventana */
    height: 100vh; /* El contenedor ocupa el 100% de la altura de la ventana */






}  

/* Cada box tiene unas propiedades, son simplemente estéticas*/ 
.box {

  padding:0.5%;
  color: #fff;
  font-size: 100px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, .1);



}

/* Colores de cada box */
.box1 { background:#1abc9c;}
.box2 { background:#3498db;}
.box3 { background:#9b59b6;}
.box4 { background:#34495e;}
.box5 { background:#f1c40f;}
.box6 { background:#e67e22;}
.box7 { background:#e74c3c;}
.box8 { background:#bdc3c7;}
.box9 { background:#2ecc71;}
.box10 { background:#16a085;}
.box1 { font-size: 2vw; }
.box2 {font-size: 5vw}
.box3 {font-size: 6vw;}
.box4 {font-size: 8vw;}
.box5 {font-size: 1vw}
.box6 {font-size: 5vw}
.box7 { font-size:5vw}
.box8 {font-size:5vw}
.box9 {font-size: 5vw}
.box10 {font-size: 4vw }

